{{! Use the main layout }}
{{!< main }}

{{! New Post Submission Form }}
<section class="content-container">
    <section class="posts-list">
        <!-- display posts -->
        <h2 id="feed-title">{{feedTitle}}</h2>
        
        <div class="sort-options">
            <label for="sort">Sort by:</label>
            <button onclick="updateSort('time_desc')">Newest First</button>
            <button onclick="updateSort('time_asc')">Oldest First</button>
            <button onclick="updateSort('likes_desc')">Most Likes</button>
            <button onclick="updateSort('likes_asc')">Least Likes</button>
        </div>

        {{#if posts.length}}
        <ul>
            {{#each posts}}
                <!-- you have to pass the user in to posts and this is the syntax -->
                {{> post this user=../user loggedIn=../loggedIn}}            
            {{/each}}
        </ul>
        {{else}}
            <p>No posts yet. Be the first to post!</p>
        {{/if}}
    </section>
</section>

<script>
    function updateSort(sortOption) {
        const urlParams = new URLSearchParams(window.location.search);
        urlParams.set('sort', sortOption);
        window.location.search = urlParams.toString();
    }
</script>
