{{! Use the main layout }}
{{!< main }}


<section class="login-register">
    <section class="login-area">
        <h2>Register Username</h2>
        <form action="/registerUsername" method="POST">
        {{#if error}}
            <p style="color:red;">{{error}}</p>
        {{/if}}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Register</button>
        </form>
    </section>
</section>

