/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111211; /* Dark grey background */
    color: #f1f1f1; /* Light grey text */
    height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scroll */
    display: flex;
}

/* Sidebar Styles */
.sidebar {
    background-color: #111211; /* Same dark grey */
    color: #f1f1f1; /* Light grey text */
    width: 250px;
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    position: fixed; /* Fix the sidebar to stay in view */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Fix to the left of the viewport */
    z-index: 1000; /* Ensure it stays on top */
    border-right: 0.5px solid #f1f1f1; /* Thin white right border */
}

/* Container for Main Content */
.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: calc(100% - 250px); /* Adjust for sidebar width */
    margin-left: 250px; /* Create space for the fixed sidebar */
}

/* Content Wrapper */
.content-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sidebar .logo {
    display: flex; /* Use Flexbox for horizontal alignment */
    align-items: center; 
    margin-bottom: 20px;
}

.sidebar .logo img {
    height: 50px;
    margin-right: 10px; /* Add margin to the right for spacing */
    display: inline-block; /* Ensure the logo image is inline */
}

.sidebar .logo h1 {
    margin: 0;
    font-size: 40px;
    display: inline-block; /* Ensure the title is inline */
    color: #f1f1f1; /* Light grey text */
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.sidebar nav ul li {
    margin: 20px 0;
}

.sidebar nav ul li a {
    color: #f1f1f1; /* Light grey text */
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.sidebar nav ul li a i {
    margin-right: 8px;
}

.sidebar nav ul li a:hover {
    background-color: #444; /* Slightly lighter grey for hover */
}

.sidebar .user-info {
    margin-top: auto;
    margin-bottom: 20px;
}

.sidebar .user-info img {
    border-radius: 50%;
    height: 50px;
    margin-top: 10px;
}

/* Main Content */
.content-container {
    flex: 1;
    padding: 20px;
    background-color: #111211; /* Same dark grey */
    border: none; /* No border for container */
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto; /* Center the content container */
    overflow: auto; /* Enable scrolling for content */
    position: relative; /* Ensure proper alignment */
}

#feed-title, .sort-options {
    margin-left: 20px; /* Adjust the left margin to align with posts */
    padding: 0 20px; /* Add padding if necessary */
    color: #f1f1f1; /* Light grey text */
}

.post-form, .post {
    margin: 20px 0;
    padding: 20px;
    background-color: #111211; /* Same dark grey */
    border: none; /* No border for container */
    border-radius: 8px;
    display: flex; /* Use flexbox for the post layout */
    flex-direction: row;
    align-items: flex-start;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-form h2 {
    margin-bottom: 20px;
}

.post-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post-form form input[type="text"],
.post-form form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #111211; /* Dark grey for inputs */
    color: #f1f1f1; /* Light grey text */
}

textarea#post-c {
    min-height: 150px; 
    resize: vertical; 
}

.post-form form input[type="file"],
.post-form form select,
.post-form form input[type="url"] {
    width: 25%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #111211; /* Dark grey for inputs */
    color: #f1f1f1; /* Light grey text */
}
.post-form form select {
    width: 30%;
}
.post-form form input[type="url"] {
    width: 39%;
}

.post-form .form-actions {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-top: 10px;
}

.post-form .emoji-button,
.post-form .post-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
}

.post-form .emoji-button:hover,
.post-form .post-button:hover {
    background-color: #123962;
}


.post {
    margin: 0; /* Remove margin */
    padding: 20px;
    background-color: #111211; /* Same dark grey */
    border-top: 1px solid #f1f1f1; /* Thin white top border */
    border-bottom: 1px solid #f1f1f1; /* Thin white bottom border */
    border-radius: 0; /* Remove border radius */
    width: 100%;
}

.post:first-child {
    border-top: 1px solid #f1f1f1; /* Add top border to the first post */
}

.post-avatar img {
    border-radius: 50%;
    height: 30px; /* Adjust the height to make the avatar smaller */
    width: 30px; /* Maintain aspect ratio */
    margin-right: 10px;
}

.post-content {
    overflow-wrap: break-word;
    flex: 1;
    color: #f1f1f1; /* Light grey text */
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-avatar {
    border-radius: 50%;
    height: 30px; /* Adjust the height to make the avatar smaller */
    width: 30px; /* Maintain aspect ratio */
    margin-right: 10px;
}

.post-username {
    font-weight: bold;
    margin-right: 10px;
    color: #f1f1f1; /* White text */
}

.post-timestamp {
    color: #cccccc; /* Lighter grey text for timestamp */
    font-size: 0.9em;
}

.post-status-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}

.post-status-bar span {
    margin-left: 10px;
    color: #f1f1f1; /* White text */
}

/* Ensure all media elements don't overflow */
.post-media {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    display: block;
}

/* Specific styles for YouTube iframes to maintain aspect ratio */
.post-media.youtube {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.post-media.youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.like-button, .delete-button {
    color: #90bcff; /* Light blue for buttons */
    background-color: #111211; /* Match post background */
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}

.like-button:hover, .delete-button:hover {
    color: #f04646;
    background-color: #111211;
}

footer {
    color: #f1f1f1; /* Light grey text */
    background-color: #111211; /* Match body background */
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

a {
    text-decoration: none;
    color: #90bcff; /* Light blue links */
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin: 3px;
    padding: 0;
}

.toots {
    align-items: center;
    text-align: center;
}

input[type="text"], textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #111211; /* Dark grey for inputs */
    color: #f1f1f1; /* Light grey text */
    align-items: center;
    justify-content: center;
}

@media (max-width: 1000px) {
    .sidebar {
        width: 70px; /* Shrink the sidebar width */
        height: 100vh; /* Ensure the height covers the viewport */
        flex-direction: column;
        align-items: center;
        top: 0; /* Keep the top position fixed */
        left: 0; /* Ensure the sidebar stays on the left */
    }

    .sidebar .logo h1,
    .nav-text{
        display: none; /* Hide the text for smaller screens */
    }

    .sidebar nav {
        margin-top: -10px;
    }

    .sidebar nav ul {
        padding: 0;
        text-align: center;
    }

    .sidebar nav ul li a {
        justify-content: center;
    }

    .sidebar nav ul li a i {
        margin-right: 0; 
    }

    .content-container {
        margin-top: -300px;
        scale: 80%;
        border: none;
        margin-left: -300px;
    }
    
    .content-wrapper {
        margin-left: 70px; /* Adjust the margin for smaller screens */
    }

    .post-form{
        margin-top: 300px;
        line-height: 28px;
     }
}


@media (max-width: 590px) {
    .content-container {
        width: 480px;
        margin-top: -270px;
    }

    .sidebar {
        width: 44px;
    }

    .sidebar .logo {
        transform: scale(0.6); 
    }

    .sidebar nav {
        margin-top: -20px;
    }

    .sidebar nav ul {
        transform: scale(0.7); 
    }

    .post {
        margin-left: -40px;
    }

    button.post-button, button.emoji-button {
        font-size: 14px;
    }

    textarea#post-content {
        min-height: 100px;
    }

    .post-form img {
        max-width: calc(100% - 40px); /* Adjust max-width to fit within post form */
        margin: 0 auto; /* Center the image */
        display: block; /* Ensure the image doesn't extend beyond container width */
    }

    .post-form{
        margin-top: 250px;
     }
}
